@import '../../styles/base.scss';

@include main-container {
  .headerTitle {
    color: var(--color-text);
    width: 100%;
  }
  .headerPostContainer {
    @include directionX;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .name {
      flex-grow: 1;
      margin: 0;
      font-size: 24px;
      font-weight: 500;
    }
    .date {
      flex-shrink: 0;
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      color: var(--color-text-darker);
    }
  }
  .postContent {
    @include padding(0.5rem);
    width: 100%;
    min-height: 400px;
    overflow-x: auto;
    margin-bottom: 20px;
    background-color: var(--color-bg);
    border-radius: 10px;

    h1, h2, h3, a, b, p {
        margin: 0;
    }
  }
  .commnentFieldstContainer {
    @include directionX;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: max-content;
    margin-bottom: 20px;

    .commentField {
      flex-grow: 1;
    }
    .button {
      flex-shrink: 0;
      height: 100%;
    }
  }
  .commentsContainer {
    @include directionX;
    @include padding-x(1rem);
    width: 100%;
    min-height: 400px;
    
    .commentsList {
        @include directionY;

        width: 100%;
        gap: 15px;
    }
  }
}
