@import '@styles/base';

.container {
  .title {
    font-size: 32px;
    font-weight: 700;
  }

  .createSection {
    background-color: var(--color-bg);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

    .intro {
      font-size: 15px;
      font-weight: 500;
      color: var(--color-text);
    }

    .button {
      padding: 10px 30px;
      background-color: var(--color-button);
      color: var(--color-text);
      border-radius: 25px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .postSection {
    border: 1px solid #000;
    background-color: $color-white;
    padding: 10px;
    font-size: 16px;

    .name {
      font-size: 15px;
      font-weight: 700;
      color: $color-dark-blue;

      span {
        color: $color-gray;
        font-weight: 500;
      }
    }
  }
}
