@import "../../styles/base.scss";

@include main-container {
    .input {
        @include directionY;
        width: 100%;

        .title {
            color: var(--color-text);
            width: 100%
        }

        .inputForm {
            width: 100%;
            background-color: var(--color-quill);
            & > svg {
                color: antiquewhite;
            }
        }
        .buttonContainer {
            @include directionX;
            margin-top: 20px;
            justify-content: end;
            width: 100%;
        }
    }
    .containerDataList {
        .title {
            color: var(--color-text);
            width: 100%
        }
        .listContainer {
            @include grid(1, 0.5rem);
            margin-bottom: 30px;
        }
    }
}